
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    width: 250px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.hero {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-size: cover;          /* 이미지 크기 맞추기 */
    background-position: center;     /* 이미지 가운데 정렬 */
    background-repeat: no-repeat;    /* 이미지 반복 제거 */
    background-attachment: fixed;    /* 배경 고정 (선택 사항) */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* 텍스트 가독성 */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

.App {
    margin-top: 80px; /* Header 높이 만큼 추가 */
}