div{
    color: #0092ff;
    border: 15px;
    padding: 15px 25px;
    display: inline-block;
    text-align: center;
    background-color: gray;
}
.bg-green{
    background-color: green;
}
.bg-red{
    background-color: red;
}
.bg-blue{
    background-color: blue;
}
Button{
    color: #ffffff;
    border: 0;
    padding: 40px 25px;
    display: inline-block;
    text-align: center;
}