.App {
    font-family: 'Arial', sans-serif;
}

.header {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*padding: 20px;*/
    /*border-bottom: 1px solid #eee;*/

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; /* 원하는 배경색으로 변경 */
    padding: 1rem 2rem;
    position: fixed; /* 화면 상단에 고정 */
    top: 0;
    width: 100%;
    z-index: 1000; /* 다른 요소 위로 표시 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ff5a5f;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #484848;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background-size: cover;
    background-position: center;
}

.hero h1 {
    font-size: 48px;
    color: #fbd5dc;
}

.hero p {
    font-size: 24px;
    color: white;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
}

.card h3 {
    padding: 10px;
}

.card p {
    padding-left:10px ;
}